<div class="col-sm-10" style="background-color: rgba(255, 255, 255, 0.5);min-height: 1000px;">
    {% block content %}    
    <!-- <h3>主要資訊</h3>
    <p>Lorem ipsum dolor..</p> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <p>ASIA airbox 01</p>
            </div>
            <div class="col-sm-3">
                <p>ASIA airbox 02</p>
            </div>
            <div class="col-sm-3">
                <p>ASIA airbox 03</p>
            </div>
            <div class="col-sm-3">
                <p>More Info ...</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 text-center">
                <p>Site Name</p>
            </div>
            <div class="col-sm-4 text-center">
                <p>Last Update Time</p>
            </div>
            <div class="col-sm-5 text-center">
                <p>Activity Suggestion</p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                RealTime PM2.5
            </div>
            <div class="col-sm-4">
                Realtime Temperature
            </div>
            <div class="col-sm-4">
                Realtime Humidity
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                Last 12 hours PM2.5
            </div>
            <div class="col-sm-4">
                Last 12 hours Temperature
            </div>
            <div class="col-sm-4">
                Last 12 hours Humidity
            </div>
        </div>
    </div>
    {% endblock %}
</div>