html, body {
    margin: 0;
    height: 100%;
}

body {
    padding: 20px;
    background: url('/static/main_blog/img/background.jpg');
}

ul#menu {
    margin-bottom: 30px;
    text-align: right;
}

ul#menu li {
    display: inline-block;
}